body{

   background-image: url('mustang.jpg');
}
h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 86px;
}

.education{
    list-style-type: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    


}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 43px;

}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.main{
list-style-type: none;
list-style: none;


}